.colored-border
  .border.bg-dspblue3
  .border.bg-dspyellow
  .border.bg-dspred
  .border.bg-dspgreen
%footer.footer{:role => "contentinfo"}
  .container
    %nav.footer-links
      %ul.cf
        %li= link_to "Contacto", "contact.html"
        %li= link_to "Aviso de Privacidad", "privacidad.html"
        %li.last &iexcl;S&iacute;guenos!
    .footer-logos
      %a{:href => "http://thegovlab.org", :target => "_blank"}
        = image_tag "logos/logo__govlab-blanco.png", style: 'width: 150px', alt: "Govlab Logo"
      %a{:href => "http://sanpedro.gob.mx", :target => "_blank"}
        = image_tag "logos/logo__san-pedro-blanco.png", style: 'width: 90px', alt: "San Pedro Logo"
      %a{:href => "https://codeandomexico.org", :target => "_blank"}
        = image_tag "logos/logo__codeandomexico-blanco.png", style: 'width: 220px', alt: "Codeando México Logo"
