%header.navigation{:role => "banner"}
  .navigation-wrapper
    %a.lspartan.logo{:href => "/"} Desaf&iacute;oSP
    %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} MENU
    %nav{:role => "navigation"}
      %ul#js-navigation-menu.navigation-menu.show
        %li.nav-link
          %a{:href => "/"} Inicio
        %li#js-navigation-more.nav-link.more
          = link_to "Desafíos", "desafios.html"
          %ul.submenu
            - data.challenges.each do | ch | 
              %li
                = link_to ch.area, "desafios/desafio-#{ch.id}.html"
        %li.nav-link= link_to "Bases de participación", "participate.html"
        %li.nav-link= link_to "El equipo", "team.html"
        %li.nav-link= link_to "Preguntas Frecuentes", "faq.html"
        %li.nav-link= link_to "Contacto", "contact.html"
