---
title: Eficiencia Gubernamental
---

.challenge__content
  .header
    .title Eficiencia Gubernamental

  %section
    %p.desafio Desaf&iacute;o:
    .subtitle ¿Cómo re-diseñarías los trámites y servicios de Municipio?
    .clear{:style => "height: 40px;"}
    .subsection{style: 'text-align: center;'}
      %a{:href =>  '#'}
        %button &iexcl;M&aacute;ndanos tu idea!
    %hr/
    = partial "patterns/timeline"
    %hr/

  %section
    %p
      La prestación de servicios públicos a la ciudadanía es la tarea más
      importante de la mayoría de los departamentos del Municipio.

    %p
      Todos y todas esperamos que los servicios sean más transparentes, accesibles y receptivos. Sin embargo, aunque muchos gobiernos han hecho esfuerzos como ventanillas únicas, centros de llamadas centralizados o rediseñado sus portales en línea, éstos no han resultado en un cambio significativo, siguen siendo lentos de acuerdo a la expectativa de la comunidad y a menudo es necesario hablar con varias personas y distintos departamentos para encontrar la respuesta a una pregunta.

    %p
      ¡En nuestro municipio queremos co-crear contigo los nuevos trámites y servicios!

    %p
      A continuación te presentamos el contexto de San Pedro, ponemos a tu disposición datos que pudieran ser relevantes para formular mejores propuestas y te brindamos algunos de los ejemplos que hemos estado considerando como posibles soluciones.

  %section
    .section__title Contexto
    %p
      A la fecha, únicamente existen cuatro trámites que se pueden realizar vía electrónica: 1) pago del impuesto predial; 2) el pago de multas; 3) denuncias contra funcionarios (Puerta Abierta); y, 4) reportes ciudadanos (CIAC) a pesar de que casi el 90 por ciento de los habitantes del Municipio tienen acceso a internet.

    %p
      %strong Actualmente, los trámites de mayor demanda son:

    %ul
      %li Licencia de manejo*;
      %li Renovación de pasaporte*;
      %li Licencia de construcción de casa habitación;
      %li Pago de impuesto predial;
      %li Licencia de uso de suelo;
      %li Alta en el padrón de proveedores;
      %li Licencia de uso de edificación;
      %li Inscripción en escuelas deportivas;
      %li Licencia de construcción multifamiliar; y,
      %li el SARE.

    %p
      (*) Estos trámites se realizan dentro del territorio del municipio, pero son de competencia estatal y federal respectivamente.

    %p
      Los trámites que toman más tiempo y que por el momento no son en línea, son los relacionados con Desarrollo Urbano, sin embargo, son los que también presentan mayor complejidad.

    %p
      %strong Criterios importantes a tomar en cuenta en la propuesta de una solución:

    %ul
      %li Las y los ciudadanos, como usuarios de estos servicios, tienen una mejor noción de qué podría ser diferente, sin embargo, ¿cómo podemos canalizar de manera efectiva sus sugerencias?
      %li ¿Qué diseño propondrías que maximice la transparencia, confiabilidad, eficiencia y puntualidad de los trámites y servicios?
      %li ¿Cómo proteger los datos personales de maner efectiva y que genere confianza a las y los usuarios de los servicios?
      %li ¿Cómo aplicar los principios de diseño centrado en la persona para cada uno de los trámites?
      %li ¿Qué implicaciones jurídicas tiene tu propuesta?

  %section
    .section__title Datos Abiertos
    %p
      %strong Aquí tienes acceso a datos del municipio que podrían fortalecer tu propuesta:

    %ul
      %li Listado de trámites y servicios que brinda el municipio
      %li Listado de trámites donde se destacan los más solicitados
      %li Diagramas de flujo de trámites y servicios municipales
      %li Requisitos de cada trámites
      %li Demanda de trámites (los 10 trámites más solicitados por las y los ciudadanos)
      %li Tiempos y costos de cada trámite
      %li Autoridades que intervienen en los trámites


  %section
    .section__title Casos ejemplares
    %p
      %strong Estos son unos de los casos que hemos estado estudiando como ejemplo de posibles soluciones:

    %ul
      %li= link_to "Using Technology to Tackle Corruption in Urban Development", "http://mayorschallenge.bloomberg.org/ideas/guadalajara/"
      %li= link_to "IDB supports improved e-government services in Uruguay", "http://www.iadb.org/en/news/news-releases/2011-10-14/uruguay-improved-e-government-services,9607.html"
      %li= link_to "Implementing a citizen-centric approach to delivering government services", "http://www.mckinsey.com/industries/public-sector/our-insights/implementing-a-citizen-centric-approach-to-delivering-government-services"
      %li= link_to "NYC 311 Mobile App", "http://www.govtech.com/pcio/Beyond-CRM-and-311-Strategies-for.html"
