---
title: Desafío San Pedro
---

= partial "patterns/navigation"

-# Banner Principal
.vertical__container.dark-blue-background
  .image__container= image_tag 'banner.png', height: '100%'

-# Sección: ¿Qué es?
.vertical__container.dark-blue-background
  %section
    %span.medium-blue-text-color.big-text
      ¿Qué es?
  %section
    .keyPoints
      .stuff
        %h3.medium-blue-text-color Una nueva manera de resolver problemas públicos
        %p.white-text-color Buscamos crear un modelo de gobierno más descentralizado, colaborativo, y que sepa aprovechar la inteligencia y talentos dispersos en su comunidad en la resolución de problemas públicos.
      .stuff
        %h3.medium-blue-text-color Un nuevo paradigma de Participación Ciudadana
        %p.white-text-color Queremos transformar la manera de interactuar contigo y nuestra comunidad creando un nuevo espacio para una participación ciudadana activa y con impacto.

      .stuff
        %h3.medium-blue-text-color Una nueva forma de trabajo: el municipio como laboratorio de innovación
        %p.white-text-color Involucramos a todas las áreas del municipio a que formen parte de esta iniciativa para facilitar la identificación problemas prioritarios para ti. Queremos que el municipio en su totalidad se convierta en un laboratorio de innovación.

-# Sección: Participa
-# .image__container= image_tag 'banner_2.png', width: '100%', height: '100%'
.vertical__container.medium-dark-blue-background
  .image__container= image_tag 'participa.png', height: '100%'

-# Sección: Ayúdanos a hacer historia
.multiplePointerContainer__pointer
  .title
    %h1 Ayúdanos a hacer historia
  = partial "patterns/flexboxes-no-background"

-# Sección: Ejes temáticos
.multiplePointerContainer__pointer
  .title
    %h1 Ejes temáticos
  = partial "patterns/flexboxes"
