---
title: Desafío San Pedro
---

-# Banner Principal
%section.banner.dark-blue-background
  .multiplePointerContainer__pointer.fitness-content
    %h1.lspartan Desaf&iacute;oSP
    %h2.subtitle.yellow-text-color ¿Qué pasaría si los problemas más complejos de nuestro municipio fuesen resueltos en conjunto con las personas más creativas de nuestra comunidad?

-# Sección: ¿Qué es?
.vertical__container.whatis
  %section
    %span.medium-blue-text-color.big-text.lspartan ¿Qué es?
  %section
    .keyPoints
      .stuff
        .atom.blue
          = File.read('./source/assets/images/atom.svg')
        %h3.medium-blue-text-color Una nueva manera de resolver problemas públicos
        %p Buscamos crear un modelo de gobierno más descentralizado, colaborativo, y que sepa aprovechar la inteligencia y talentos dispersos en su comunidad en la resolución de problemas públicos.
      .stuff
        .atom.yellow
          = File.read('./source/assets/images/atom.svg')
        %h3.medium-blue-text-color Un nuevo paradigma de Participación Ciudadana
        %p Queremos transformar la manera de interactuar contigo y nuestra comunidad creando un nuevo espacio para una participación ciudadana activa y con impacto.

      .stuff
        .atom.green
          = File.read('./source/assets/images/atom.svg')
        %h3.medium-blue-text-color Una nueva forma de trabajo: el municipio como laboratorio de innovación
        %p Involucramos a todas las áreas del municipio a que formen parte de esta iniciativa para facilitar la identificación problemas prioritarios para ti. Queremos que el municipio en su totalidad se convierta en un laboratorio de innovación.

-# Sección: Participas
-# .image__container= image_tag 'banner_2.png', width: '100%', height: '100%'
.vertical__container.medium-dark-blue-background
  .multiplePointerContainer__pointer.participate__content
    %h2.title.right.lspartan Participa
    .row
      .left.half.first
        %span.number.yellow 1
        %p.title Elige un desaf&iacute;o 
        %p.body 
          Conoce los distintos desafíos, sus problemáticas y sus contextos, así como los datos relevantes que municipio tiene sobre el tema. 
          %br/
          %br/
          ¡Te estamos buscando a ti! Queremos conocer tus ideas, tus habilidades y conocimientos.
          %br/
          %br/
          ¡Participa!
        = link_to "Ver desafíos", "desafios.html", :class => "action btn"
    .row
      .right.half
        %span.number.red 2
        %p.title Arma tu equipo
        %p.body
          ¿Ya revisaste los Desafíos? Es momento de armar a tu equipo. Invita a personas que les apasione el tema y tengan las habilidades necesarias para formular una buena propuesta.  
          %br/
          %br/
          ¿Te interesa participar pero no cuentas con un equipo? ¡Aquí puedes conseguir uno! Te contactaremos con personas que están interesadas en el mismo Desafío que tú.
        = link_to "Arma tu equipo", "https://goo.gl/forms/WcBPYSexhneG37Zq1", :target => "_blank", :class => "action btn"
    .row
      .left.half.third
        %span.number.blue 3
        %p.title Env&iacute;a tu propuesta
        %p.body ¡Queremos saber de ti y aprovechar tus habilidades y tu creatividad! Ayúdanos a transformar la forma en la que municipio y comunidad colaboran para resolver los problemas que nos interesan a todos y todas. &Uacute;nete y ayúdanos a hacer historia.
        = link_to "Aplica", "form.html", :class => "action btn"


  

-# Sección: Ejes temáticos
.multiplePointerContainer__pointer.fitness-content
  .title
    %h1.yellow-text-color Desaf&iacute;os
  = partial "patterns/flexboxes"

-# Sección: Ayúdanos a hacer historia
.multiplePointerContainer__pointer.light-gray-background.historia
  .title
    %h1.red-text-color Ayúdanos a hacer historia
  = partial "patterns/flexboxes-no-background"
